# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
build/*

# Vim swap files
*.swp

# Not required arduino files
#arduino-examples/*
# But ...
#!arduino-examples/*.cc
#!arduino-examples/*.sh
#!arduino-examples/*/build/BoardOptions.cmake

#
*.drawio

